/**
 * @file
 * Customization for CST site
 *
 */

@import "base";


/**
 *
 *   Computer Science - Front Page
 *
 */

body {
	background-image: url(../images/cs/csBackground.jpg);
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-text-stroke: 0.2px;
}

#main {
	background: linear-gradient(0deg, rgba(255,255,255,.25), rgba(255,255,255,1));
}


// Our Vision

.cs-fp-gray-tiled-box {
	background-image: url(../images/cs/vision-bg.png);
	background-size: contain;
	margin: 1.0em
	h2 {
		display: inline-block;
		color: #fff;
		background: #777;
		padding: 0.3em;
		margin: 0;
		}
	p {
		padding: 2.0em 15.0em 2.0em 2.0em;
	}
}


// Slideshow

.cs-fp-slideshow {
	padding: 1.0em 2.0em 0 3.0em;
	width: 27em;
}


// advising icon

.cs-homepage-top-right-column {
	margin: auto;
}

.cs-fp-advising-button {
	display: block;
	padding: 3.0em;
	margin: 1.0em;
		img {
			margin: auto;
			vertical-align: middle;
			}
}





// gray box w/ green arrow - scholarships and alumni

.cs-fp-gray-box-green-arrow {
	background: #999 url(../images/cs/right-green-arrow.png) bottom right no-repeat;
	margin: 2.0em 3.0em;
	border: 15px solid $wwuLtGray;
		h2 {
			display: inline-block;
			padding: 0.5em;
			margin: 0;
			background: #444;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.2em;
		}
		p {
			padding: 1.0em;
		}
}


// event listing

.cs-fp-event {
	margin: 2.0em;
		h2 {
			display: inline-block;
			padding: 0.5em;
			background: $wwuBlue;
			color: $wwuPaleBlue;
			text-transform: uppercase;
			font-size: 1.2em;
		}
}


// contact info box

.cs-fp-contact {
	margin-top: 2.0em;
		p {
			padding-left: 0.5em;
		}
		h2 {
			display: inline-block;
			padding: 0.5em;
			background: $wwuBlue;
			color: $wwuPaleBlue;
			text-transform: uppercase;
			font-size: 1.2em;
		}
}
